<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Hello · Phoenix Framework</title>
     <!-- <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <style>
    .btn-tiny {
    height: 24px;
    line-height: 24px;
}
</style>
  </head>
  <body>
    <header>
     <section class="container">

        <nav class="purple darken-4" role="navigation">
          <ul>
            <li><a href="/">Home</a></li> 
            <li><a href="/topics">Forum</a></li>
            <!--<li><a href="/topics/new">Create a Topic</a></li>-->


         <%= if Hello.Auth.User.user_signed_in?(@conn) == false do %>
                       <li><a href="/register/new">Register Here</a></li>
            <li><a href="/signin/new">Login Here</a></li>
            <% end %>
            <%= if Hello.Auth.User.user_signed_in?(@conn) do %>
            <li>Logged in as <%= Hello.Auth.User.current_user(@conn).username %>
            <li><%= link "Log Out", to: Routes.login_path(@conn, :delete), method: :delete %></li>
            <% end %>


          </ul>
            
          
        </nav>

      </section>
    </header>
    <main role="main" class="container">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <%= render @view_module, @view_template, assigns %>
    </main>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
